<p>
  This is an observable value : <b>{{ observablePipeAsync$ | async }}</b>
</p>

<h3>
  <button
    title="Go to next page >>"
    [routerLink]="'/second'">
    Go to second page
  </button>
</h3>
